.chat {
    &_owner {
        background-color: var(--gray-800);
        color: var(--primary);
        margin-left: auto;
        width: fit-content;
        margin-right: 20px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    &_foreign {
        background-color: var(--lavender-300);
        color: var(--primary);
        margin-right: auto;
        width: fit-content;
        margin-left: 20px;
        padding: 10px 15px;
        border-radius: 5px;
    }
}