.company_join_modal {
  margin-top: 10px;
  &_title {
    text-align: center;
    font-size: 1.5rem;
  }
  &_form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
  }
}
