.drive {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding: 0;
  h1 {
    font-size: 2.5rem;
    color: var(--lavender-200);
    width: 100%;
    max-width: 350px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &_wrapper {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 55px);
  }
  &_container {
    margin-top: 26px;
    background-color: var(--primary);
    border-radius: 10px;
    width: calc(100% - 200px - 10px);
    padding: 15px 0;
    padding-top: 0;
    height: calc(100% - 27.5px);
  }
  &_aside {
    width: 200px;
    margin-top: 26px;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 15px 0;
    height: calc(100% - 27.5px);
  }
}
@media screen and (max-width: 1000px) {
  .drive {
    &_container {
      height: 100vh;
      width: 100%;
    }
    &_wrapper {
      flex-direction: column-reverse;
    }
    &_aside {
      height: 200px;
      width: 100%;
    }
  }
}
@media screen and (max-width: 589px) {
  .drive {
    h1 {
      text-align: center;
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: 380px) {
  .drive {
    h1 {
      font-size: 10vw;
    }
  }
}
