.task {
  overflow: hidden;
  width: 100%;
  min-height: 25px;

  border-radius: 5px;

  background-color: var(--lavender-300);
  color: var(--white);
  padding: 0 7.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    cursor: col-resize;
  }
  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    cursor: col-resize;
  }
  &_tags {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    gap: 10px;
    div {
      padding: 3px 5px;
      border-radius: 5px;
      font-size: .8rem;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--lavender-400);
    }
  }
}
