.card {
  max-width: 500px !important;
}
.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}
.user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: var(--gray-200);
  &_name {
    display: block;
    width: calc(100% - 150px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &_date {
    font-size: .8rem;
    text-align: right;
    white-space: wrap;
    padding-right: 5px;
    width: 100px;
  }
  &_picture {
    border-radius: 50%;
    background-color: var(--gray-500);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    svg {
      width: 50%;
      height: 50%;
      fill: var(--primary);
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 10;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &s {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 10px;
  }
}
