.error {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
  color: var(--red-200);
}
.svg {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  margin-top: 2.5px;
}