.task {
  &_title {
    width: 100%;
    margin-bottom: 10px;
    input {
      font-size: 2rem;
      width: 100%;
      background-color: transparent;
      &::placeholder {
        color: var(--gray-600);
      }
    }
  }
  &_date {
    color: var(--lavender-200);
    margin-bottom: 15px;
  }
  &_description {
    margin-bottom: 15px;
    &_title {
      color: var(--gray-900);
      font-weight: bold;
      margin-bottom: 5px;
    }
    input {
      width: 100%;
      background-color: transparent;
      color: var(--black);
      &::placeholder {
        color: var(--gray-600);
      }
    }
  }
  &_people,
  &_tag {
    margin-bottom: 15px;
    &_title {
      color: var(--gray-900);
      font-weight: bold;
      margin-bottom: 5px;
    }
    &_no {
      color: var(--gray-600);
    }
    button[extra-css="btn-add-people-task"],
    button[extra-css="btn-add-tag"] {
      margin-top: 7px;
      width: 180px;
      height: 35px;
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &_create {
    button[extra-css="btn-created-tag"] {
      margin-top: 7px;
      width: 180px;
      height: 35px;
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
    }
  }
}
.modal_card_task {
  max-width: 650px !important;
}
@media screen and (max-width: 600px) {
  .task_tag,
  .task_create,
  .task_people {
    button[extra-css="btn-created-tag"],
    button[extra-css="btn-add-people-task"],
    button[extra-css="btn-add-tag"] {
      width: 100%;
    }
  }
}
