.task {
  &_title {
    width: 100%;
    margin-bottom: 10px;
    input {
      font-size: 2rem;
      width: 100%;
      background-color: transparent;
      &::placeholder {
        color: var(--gray-600);
      }
    }
  }
  &_date {
    color: var(--lavender-200);
    margin-bottom: 15px;
  }
  &_description {
    margin-bottom: 15px;
    &_title {
      color: var(--gray-900);
      font-weight: bold;
      margin-bottom: 5px;
    }
    textarea {
      width: 100% !important;
      background-color: transparent;
      color: var(--black);
      height: 100px;
      resize: none;
      padding: 5px 0;
      outline: none;
      border: none;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      &::placeholder {
        color: var(--gray-600);
      }
    }
  }
  &_people,
  &_tag {
    margin-bottom: 15px;
    &_title {
      color: var(--gray-900);
      font-weight: bold;
      margin-bottom: 5px;
    }
    &_no {
      color: var(--gray-600);
    }
    button[extra-css="btn-add-people-task"],
    button[extra-css="btn-add-tag"] {
      margin-top: 7px;
      width: 180px;
      height: 35px;
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &_create {
    button[extra-css="btn-created-tag"] {
      margin-top: 7px;
      width: 180px;
      height: 35px;
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
    }
  }
  &_users {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    background-color: var(--gray-200);
    border-radius: 5px;
    &_container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      width: fit-content;
      padding: 5px 10px;
      border-radius: 5px;
      &_name {
        font-size: 1rem;
      }
      &_img {
        width: 32px;
        height: 32px;
        background-color: var(--gray-500);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 40%;
          height: 40%;
          fill: var(--gray-100);
        }
        img {
        }
      }
      &_times {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        svg {
          width: 20px;
          height: 20px;
          fill: var(--gray-500);
        }
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background-color: var(--gray-600);
          }
        }
      }
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: var(--gray-400);
        }
      }
    }
  }
}
.modal_card_task {
  max-width: 650px !important;
}
@media screen and (max-width: 600px) {
  .task_tag,
  .task_create,
  .task_people {
    button[extra-css="btn-created-tag"],
    button[extra-css="btn-add-people-task"],
    button[extra-css="btn-add-tag"] {
      width: 100%;
    }
  }
}
