.body {
  width: 100%;
  height: 100%;
  &_select {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    svg {
      width: 50%;
      height: 50%;
    }
    div {
      color: var(--lavender-300);
      font-size: 1rem;
    }
  }
  &_chat {
    width: 100%;
    height: 100%;
    &_top {
      height: 36px;
      width: 100%;
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--gray-400);
      margin-bottom: 10px;
      padding: 0 15px;
      div {
        background-color: var(--gray-300);
        padding: 2.5px 7.5px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    &_messages {
      width: 100%;
      height: calc(100% - 45px - 36px - 10px);
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow-y: auto;
      padding: 30px 0;
    }
  }
}
