.calendar {
  height: 100%;
  h1 {
    font-size: 2.5rem;
    color: var(--lavender-200);
    width: 100%;
    max-width: 350px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &_container {
    margin-top: 26px;
    background-color: var(--primary);
    border-radius: 10px;
    width: 100%;
    padding: 15px 25px;
    height: calc(100% - 80px);
    padding-top: 0;
  }
}
@media screen and (max-width: 1000px) {
  .calendar_container {
    height: calc(100vh - 200px);
  }
}
@media screen and (max-width: 589px) {
  .calendar {
    h1 {
      text-align: center;
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: 380px) {
  .calendar {
    h1 {
      font-size: 10vw;
    }
  }
}
