.dashboard {
  background-color: var(--gray-200);
  width: 100%;
  margin-top: calc(65px - 111px); // Contrast of main-content mt
  position: relative;
  height: calc(100vh - 65px);
  overflow-y: auto;
}