.menu {
  background-color: var(--primary);
  width: 230px;
  height: calc(100vh - 65px);
  position: fixed;
  top: 65px;
  left: 0;
  z-index: 90;
  padding: 30px;
  transition: left ease-out 300ms;
}
@media screen and (min-width: 1420px) {
  .menu {
    left: calc(50% - 710px);
  }
}

@media screen and (max-width: 1000px) {
  .menu {
    left: -230px;
  }
}
