.cmd {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 10;
  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: var(--gray-600);
    transition: left ease-out 200ms, width ease-out 200ms;
  }
  &_icon {
    svg {
      width: 15px;
      height: 15px;
      fill: var(--gray-600);
    }
  }
  &_input {
    width: 100%;
    padding: 5px 10px;
    color: var(--black);
    background-color: transparent;
    &::placeholder {
      color: var(--gray-600);
    }
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &::after {
        width: 100%;
        left: 0;
      }
    }
  }
  &_open {
    &::after {
      width: 100%;
      left: 0;
    }
  }
}
.results_container {
  background-color: var(--primary);
  border-radius: 5px;
  border: 1px solid var(--gray-400);
  border-top: none;
  position: absolute;
  left: 0;
  top: 45px;
  width: 100%;
  height: fit-content;
  z-index: 9;
  padding: 10px 5px;
  &_cmd {
    cursor: pointer;
    padding: 10px;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--gray-300);
      }
    }
  }
}
.selected {
  background-color: var(--gray-300);
}
.noCommands {
  text-align: center;
  margin-bottom: 10px;
  color: var(--gray-800);
}
